# Met Eireann wind speed analysis
### Programming for Data Analytics Project
#### Author: Vanessa de Oliveira Lyra

Location: Grousemount Wind Farm
Capacity: 114 MW (38 turbines) — one of the larger in Cork and among the biggest onshore windfarms in Ireland.
Met Éireann Weather Stations close to Grousemount: 
- Cork Airport Synoptic Station (Co. Cork)
- Moorepark (Fermoy) Weather Station (Co. Cork)
- Sherkin Island Weather Station (Co. Cork)
- Valentia Observatory (Co. Kerry)

##### References: 
Grousemount Wind Farm info: https://esb.ie/news---insights/blog/article/esb/2020/04/30/grousemount-wind-farm-bringing-power-to-communities-across-ireland-with-wind-energy  
Weather stations and wind data: https://www.met.ie/climate/available-data/historical-data

In [96]:
# Importing libraries
import pandas as pd
import matplotlib.pyplot as plt

In [97]:
# Reading .csv file into a dataframe using semicolon separator
df = pd.read_csv("dly3904.csv", skiprows=24)

# Check first 5 lines of data for reference
df.head()

,date,ind,maxtp,ind.1,mintp,igmin,gmin,ind.2,rain,cbl,...,ind.5,hg,sun,dos,soil,pe,evap,smd_wd,smd_md,smd_pd
0,01-jan-1962,0,2.8,1,-2.5,,,8,,999.6,...,0,24,,0,,,,,,
1,02-jan-1962,0,2.8,1,-3.7,,,8,,1005.8,...,0,10,,0,,,,,,
2,03-jan-1962,0,2.3,1,-3.8,,,8,,1007.8,...,0,13,,0,,,,,,
3,04-jan-1962,0,6.6,0,0.6,,,8,,1007.8,...,0,12,,0,,,,,,
4,05-jan-1962,0,9.3,0,0.6,,,8,,1002.2,...,0,29,,0,,,,,,

In [98]:
# Print headers for reference
# headers = df.columns.tolist()
# headers

In [99]:
# Drop unwanted columns
drop_columns = ["ind","maxtp","ind.1","mintp","igmin","gmin","ind.2","rain","cbl","ind.3","ind.4","ind.5","sun","dos","soil","pe","evap","smd_wd","smd_md","smd_pd"]
df.drop(columns=drop_columns, inplace=True, errors='ignore')

# Normalize date column
# Remove whitespaces from date
df["date"] = (df["date"].astype(str).str.strip())

# Convert date to Datetime and define format
df["date"] = pd.to_datetime(df["date"], format="%d-%b-%y", errors="coerce")

# Normalize other columns
# Convert mean wind Speed and wind direction and highest gust to numeric values
df["wdsp"] = pd.to_numeric(df["wdsp"], errors="coerce")   
df["hm"] = pd.to_numeric(df["hm"], errors="coerce") 
df["hg"] = pd.to_numeric(df["hg"], errors="coerce")

##### References
Remove whitespaces from date: https://medium.com/@amit25173/how-to-remove-whitespace-from-strings-in-pandas-bfd9acdc55f3
Converting datetime: https://pbpython.com/pandas_dtypes.html 
Convert data to numeric values https://kajodata.com/en/knowledge-base-excel-sql-python/knowledge-base-python-tech-skills/how-pandas-to_numeric-works-in-python-examples-mmk/

In [100]:
# Group data by year and calculate mean
yearly_wdsp = df.groupby(df["date"].dt.year)["wdsp"].mean()

Group by year
https://blog.finxter.com/5-best-ways-to-group-pandas-dataframe-by-year/

Yearly mean wind speed